*.pyc
__pycache__/
.pytest_cache/
.vscode/
.env
virtualenv/
virtualenvs/
venv/
build/
dist/
*.egg-info/
.DS_Store
log.html
output.xml
report.html
selenium-screenshot-*.png
results/
dashboard.html
.png
.idea/
